body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}
h2 {
    margin-left: .5em;
}
details {
    margin-left: 1em;
}
h3 {
    margin-left: 1.5em;
    line-height: 0em;;
}
pre {
    margin-left: 2em;
    padding: 16px;
    border-radius: 5px;
    background-color: lightgray;
    line-height: 1.3em;
}