* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: customfont;
    src: url('CursedTimerUlil-Aznm.ttf');
}

body {
    background-image: url(ryan-OywyPkrDEvg-unsplash-m.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}
    


h3 {
    font-size: 2.25rem;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #1B244A;
    border: 5px solid white;
    border-radius: 20px;
    width: 450px;
    height: 450px;
    margin-top: 70px;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.team-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.score-box {
    background-color: #080001;
    border-radius: 5px;
    width: 160px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.score {
    font-family: customfont;
    font-size: 5rem;
    color: #F94F6D;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content:space-between;
    width: 160px;
}

.btn {
    background-color: transparent;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    font-family: customfont;
    font-size: 1rem;
}

.btn:active {
    position: relative;
    top: 2px;
}


.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid white;
}

.ctrl-btn {
    background-color: transparent;
    font-size: 1.25rem;
    color: #9AABD8;
    /* color: #FEF3C7; */
    border: 2px solid #FDE68A;
    border-radius: 5px;
    padding: 10px;
}

.ctrl-btn:active {
    position: relative;
    top: 2px;
}

