body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.converter {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3498db;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1em;
}

button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
}

#result {
    font-size: 1.2em;
    font-weight: bold;
    color: #3498db;
}
